// ############################### more info section ########################################
.more-info {
    font-size: 16px;
    line-height: 2.38;
    text-align: right;
    color: #171932;

    h5 {
        font-weight: 600;
        margin-bottom: 30px;
    }

    p{
        max-width: 996px;
    }

    

}

// ############################### more info section ########################################